@model StudentOneTOManyRelation.ViewModel.DepartmentVm

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}


<div class="container col-6 bg-dark text-white">
    <form asp-controller="Department" asp-action="Edit" methods="post">

        <div class="card-title">Edit Your Department Name</div>
        <div class="card-body">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input type="text" asp-for="Name" class="form-control">

            </div>


            <button class="btn btn-sm btn-primary" type="submit">Save</button>
        </div>


    </form>
</div>