@model StudentOneTOManyRelation.Entities.Employee

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}


<div class=" col-6">


    Name= @Model.Name<br>


</div>
<div class="container col-4">
    <a asp-controller="Employee" asp-action="Index" class="btn btn-sm btn-primary">Back</a>
</div>
